{% extends "base/Base.html" %}
{% block head %}{% endblock %}
{% block sidebartitle %}{% endblock %}
{% block name %}
{% endblock %}

{% block body %}

    <div class="col-md-12">
        <table style="width: inherit">
            <tr>
                <th>Number</th>
                <th>Timestamp</th>
                <th>Action</th>
                {#                <th>Compost</th>#}
            </tr>
            {% for i in  log %}
                {% set rowloop = loop %}
                <tr>
                    <td>
                        {{ loop.index }})
                    </td>
                    <td>
                        {{ i.timestamp }}
                    </td>
                    <td>
                        {{ i.action }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <button class="btn btn-danger" onclick="window.location.href='/log/clear'">Clear Log File</button>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}